/*-------------------
    RESET
--------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------------
    GENERAL
--------------------*/
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto", sans-serif;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

/*-------------------
    HEADER
--------------------*/
.header-top {
    background-color: #ADD8E6;
    padding: 15px 0;
}

.header-top > .container {
    display: flex;
    background-color: #DAA520;
}

.header-top .logo,
.header-top nav,
.header-top .login {
    border: 2px dashed black;
    padding: 10px;
}

.header-top .logo,
.header-top .login {
    width: 20%;
}

.header-top .login {
    text-align: right;
}

.header-top nav {
    flex-grow: 1;
    text-align: center;
}

.header-bottom {
    background-color: #01118B;
    padding: 50px 0px;
}

.header-bottom .hero {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #EE82EE;
    min-height: 400px;
    width: 75%;
    border: 2px dashed black;
}

/*-------------------
    MAIN
--------------------*/

#section1 {
    display: flex;
    min-height: 500px;
}

#section1 .col-left, #section2 .col-right {
    background-color: #1E90FF;
    width: 60%;
    border: 2px dashed black;
}

#section1 .col-right, #section2 .col-left {
    background-color: #FDC0CB;
    width: 40%;
    border: 2px dashed black;
}

#section2 {
    display: flex;
    min-height: 500px;
}

#section4 {
    display: flex;
    background-color: #D3D3D3;
}

#section4 .green-box {
    display: flex;
    min-height: 900px;
    min-width: 1200px;
    background-color: #228C21;
    border: 2px dashed black;
}

/*-------------------
    FOOTER
--------------------*/

footer {
    background-color: #23272A;
}